# This is a basic workflow to help you get started with Actions

name: ci-build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
#  push:
#    branches: [ master ]
#  pull_request:
#    branches: [ master ]
  release:
    types:
      - created

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

#      - name: Building Gradle
#        run: ./gradlew build

      - name: Building & Publishing
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gradle build publish

#      - name: Packaging RoomigrantCompiler
#        uses: actions/upload-artifact@v2
#        with:
#          name: Package
#          path: RoomigrantCompiler/build/libs/RoomigrantCompiler.jar

#      - name: Packaging RoomigrantLib
#        uses: actions/upload-artifact@v2
#        with:
#          name: Package
#          path: RoomigrantLib/build/libs/RoomigrantLib.jar
